<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<runtime>
 <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
   <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  </dependentAssembly>
 </assemblyBinding>
</runtime>    
  <appSettings>
     <add key="SqlCommandTimeOut" value="200" />
	  <add key="Trnx" value="Data Source=10.8.41.109;Initial Catalog=transactiondbLF;Persist Security Info=True; Integrated Security=SSPI;" />
  <add key="Trnx1" value="Data Source=10.7.41.53,21553;Initial Catalog=INSCHWS;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r;" />
  <add key="Trnx2" value="Data Source=10.8.41.109;Initial Catalog=transactiondbLFComm;persist security info=True;Integrated Security=SSPI;Connection Timeout=3000" />
	  <add key="Trnx3" value="Data Source=10.1.41.145;Initial Catalog=transactiondbLF;Persist Security Info=True;User ID=adminsa;Password=C0n+r01@r;" />
	  <add key="EMLFilePath" value="C:\Sagar Thorave Folder\Pictures\Projects\2CR-2078-Eary Claim Comm\SchedulerEarlyClaim\EmlFilesPath\" />
	  <add key="SaveEmlpdf" value="C:\Sagar Thorave Folder\Pictures\Projects\2CR-2078-Eary Claim Comm\SchedulerEarlyClaim\EmlFilesPath\SavePdfPath\" />
	  <add key="HTMLTemplatePath" value="C:\Sagar Thorave Folder\Pictures\Projects\2CR-2078-Eary Claim Comm\SchedulerEarlyClaim\Templetes\PdfTempletes\" />
	  <add key="EmlHTMLTemplatePath" value="C:\Sagar Thorave Folder\Pictures\Projects\2CR-2078-Eary Claim Comm\SchedulerEarlyClaim\Templetes\EarlyClaimEmailTempletes\"/> 
    <add key="SavePdfPath" value="C:\Sagar Thorave Folder\Pictures\Projects\2CR-2078-Eary Claim Comm\SchedulerEarlyClaim\Templetes\SavePdf\" />
     <!--<add key="LocalWebAppUrl" value="http://localhost:65511/" />-->
    <add key="AspPDF_RegKey" value="GYlbS5hZGydNSEXhSunif/sB0s3xct1tNtrYjgfnhngZPt7hK1yDJA9DaDiThSwyTrk2bmfEwm0p" />
    
     <add key="SMTPPort" value="25" />
    <add key="SMTPHost" value="outlook.fgi.ad" />
    <add key="FromEmailID" value="communications@fglife.in" />
    <add key="ToEmailID" value="mfl00905@futuregenerali.in" />
	  <add key="ToSubject" value="Please Ignore Test Mail For Early Claim Scheduler" />
	  <add key="mailfromname" value="Future Generali"/>

	  <add key="GenerateToken" value="http://10.6.41.88/FG.LF.WS.BlobStorageAPIProd/api/BlobStorage/GenerateToken"/>
	  <add key="GetBlobStorage" value="http://10.6.41.88/FG.LF.WS.BlobStorageAPIProd/api/BlobStorage/GetBlobStorage"/>
	  <add key="PutBlobStorage" value="http://10.6.41.88/FG.LF.WS.BlobStorageAPIProd/api/BlobStorage/PutBlobStorage"/>

	  <add key="BlobUserName" value="1121113"/>
	  <add key="BlobPassword" value="feb@2019"/>
	  <add key="BlobSource" value="Test"/>


  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_INetcoreService" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_INetcoreService1" />
        <binding name="BasicHttpBinding_IService3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.9.41.90/FalconideWCF.Omni/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="svcFalcoMail.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://192.168.51.46/FG.LF.WCF.NetcoreSMS/NetcoreService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetcoreService"
        contract="SmsNetcoreService.INetcoreService" name="BasicHttpBinding_INetcoreService" />
      <endpoint address="http://10.1.41.185/FalconideWCF.Omni/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="Falco185.IService" name="BasicHttpBinding_IService1" />
      <endpoint address="http://riblife.futuregenerali.in/FalconideWCF.Omni/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService2"
        contract="FalcoRib.IService" name="BasicHttpBinding_IService2" />
      <endpoint address="http://192.168.51.46/FG.LF.WCF.NetcoreSMS/NetcoreService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetcoreService1"
        contract="sms.INetcoreService" name="BasicHttpBinding_INetcoreService1" />
      <endpoint address="http://10.9.41.90/FalconideWCF.Omni_MultipleMails/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService3"
        contract="multiMailService.IService" name="BasicHttpBinding_IService3" />
    </client>
  </system.serviceModel>
</configuration>